
/* Variable - COLORS */

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #fff;
  --bs-secondary: #2F170F;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: 'Open-Sans', sans-serif;
  --bs-font-serif: 'EB Garamond', serif;
  --bs-font-cursive: 'Kaushan', cursive;
  --bs-gradient: radial-gradient(circle, rgba(55,25,7,1) 0%, rgba(2,0,36,1) 100%);


  --bs-primary-color: white;
  --bs-secondary-color: #000;
  --bs-third-color: #18BFEF;

  --bs-color1: #18BFEF;
  --bs-color2: #F6F6F6;
  --bs-color3: #717981;
  --bs-color4: #4E403D;
  --bs-color5: #212931;

  --bs-color6: #eee;
  --bs-color7: #ccc;
  --bs-color8:#495057;
  --bs-color9:#e5e5e5;

}
